<mat-sidenav-container>
	<mat-sidenav #sidenav
	             mode="side"></mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary"
		             class="primary-toolbar">
			<button mat-button
			        (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<span>My App</span>
		</mat-toolbar>

		<mat-tab-group>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>check</mat-icon>
					Icon
				</ng-template>
				<h2>Basic Icons</h2>
				<mat-icon>check</mat-icon>
				<mat-icon>list</mat-icon>
				<mat-icon>close</mat-icon>

				<h2>Icons Color</h2>
				<button mat-fab
				        color="primary">
					<mat-icon>check</mat-icon>
				</button>
				<mat-icon color="accent">list</mat-icon>
				<mat-icon color="warn">close</mat-icon>
			</mat-tab>
			<mat-tab label="Input">
				<mat-form-field floatPlaceholder="never">
					<input type="password"
					       #passwordInput="ngModel"
					       [(ngModel)]="password"
					       placeholder="Type password here"
					       minlength="6"
					       maxlength="16"
					       required
					       matInput>
					<mat-error *ngIf="passwordInput.errors?.required">This field is required.</mat-error>
					<mat-error *ngIf="passwordInput.errors?.minlength">6 characters required.</mat-error>
					<mat-hint align="start">No special character</mat-hint>
					<mat-hint align="end">{{password.length}}/16</mat-hint>
				</mat-form-field>
			</mat-tab>
			<mat-tab label="Progress Bar">
				<h2>Progress Bar</h2>
				<mat-progress-bar [value]="loadingPercent"></mat-progress-bar>
				<mat-progress-bar [value]="loadingPercent"
				                  color="accent"></mat-progress-bar>
				<mat-progress-bar [value]="loadingPercent"
				                  color="warn"></mat-progress-bar>

				<h2>Query</h2>
				<mat-progress-bar [mode]="queryMode"
				                  [value]="queryValue"></mat-progress-bar>

				<h2>Buffer</h2>
				<mat-progress-bar mode="buffer"
				                  [value]="loadingPercent"
				                  [bufferValue]="currentPlayback"></mat-progress-bar>

				<h2>Spinner</h2>
				<mat-spinner></mat-spinner>
				<mat-progress-spinner [value]="loadingPercent"></mat-progress-spinner>
			</mat-tab>

			<mat-tab label="Date Picker">
				<mat-form-field>
					<input matInput
					       [matDatepicker]="datepicker"
					       [min]="minDate"
					       [max]="maxDate">
					<mat-datepicker-toggle matSuffix
					                       [for]="datepicker"></mat-datepicker-toggle>
					<mat-datepicker #datepicker
					                startView="year"
					                [startAt]="startDate"></mat-datepicker>
				</mat-form-field>
			</mat-tab>
			<mat-tab label="Snack Bar">
				<button mat-raised-button
				        (click)="openSnackbar()">open snackbar</button>
			</mat-tab>
			<mat-tab label="Dialog">
				<button mat-button
				        (click)="openDialog()">Open Dialog</button>
			</mat-tab>
			<mat-tab label="Table">
				<mat-table [dataSource]="dataSource"
				           matSort>
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef
						                 mat-sort-header>
							Name
						</mat-header-cell>
						<mat-cell *matCellDef="let operator">
							{{operator.name}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="category">
						<mat-header-cell *matHeaderCellDef
						                 mat-sort-header>
							Category
						</mat-header-cell>
						<mat-cell *matCellDef="let operator">
							{{operator.category}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="views">
						<mat-header-cell *matHeaderCellDef
						                 mat-sort-header>
							Views
						</mat-header-cell>
						<mat-cell *matCellDef="let operator">
							{{operator.views}}
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="['name', 'category', 'views']">
					</mat-header-row>
					<mat-row *matRowDef="let row; columns: ['name', 'category', 'views']">

					</mat-row>
				</mat-table>
				<mat-paginator [pageSize]="10"
				               [pageSizeOptions]="[5,10,25]">

				</mat-paginator>
			</mat-tab>
		</mat-tab-group>
	</mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>